# NIC MedSearch — Python dependencies

# Core data processing
pandas>=2.0.0
tqdm>=4.65.0
numpy>=1.24.0

# Text cleaning
ftfy>=6.1.1
pyspellchecker>=0.7.2

# PDF processing
pymupdf>=1.23.0
pdf2image>=1.16.3
pytesseract>=0.3.10
pdfplumber>=0.10.3

# DOCX processing
python-docx>=1.1.0

# RAG pipeline
torch
torchvision
sentence-transformers>=2.7.0   # includes CrossEncoder
qdrant-client>=1.9.0

# LLM API
groq>=0.9.0
ollama 

# UI
streamlit>=1.35.0

pillow>=9.0.0
opencv-python>=4.5.0